# intro
## machine learning 
- data types

In [12]:
2*2

4

In [13]:
2*"sd"

'sdsd'

In [14]:
2.0*99

198.0

In [15]:
2.0-5

-3.0

In [16]:
type(43)

int

In [18]:
a=10

In [19]:
print(a)

10

In [20]:
first_name="mitul"
last_name="gupta"

In [21]:
print('first name is {} and second name is {}'.format(first_name,last_name))

first name is mitul and second name is gupta

In [22]:
print('first name is {} and second name is {}'.format(last_name,first_name))

first name is gupta and second name is mitul

In [23]:
print('first name is {first} and second name is {last}'.format(last=last_name,first=first_name))

first name is mitul and second name is gupta

In [24]:
len('fsjkfds')

7

In [25]:
type(['3',3,2,4,4,3,3,23])

list

In [5]:
str="rgsrg23"

In [14]:
print(str.capitalize())
print(str.center(10))
print(str.index('g'))
print(str.islower())
print(str.casefold())
print(str.isnumeric())
print(str.endswith('2'))
print(str.count('rgs'))
print(str.)

Rgsrg23
 rgsrg23
1
True
rgsrg23
False
False
1

In [34]:
str

'rgsrg23'

# boolean expressions

In [15]:
True and False

False

In [16]:
True or False

True

In [17]:
name='mitul'
lname='gupta'

In [20]:
print(name.isalpha() and name.isnumeric())
print(name.isalpha() or name.isnumeric())

False
True

# list

In [31]:
lst=[]
print(type(lst))
lst1=list()
print(type(lst1))
lst2=['erer','wer',12,23,34,54]
print(type(lst2))
lst2

<class 'list'>
<class 'list'>
<class 'list'>

['erer', 'wer', 12, 23, 34, 54]

In [29]:
len(lst2)

6

In [56]:
lst2*2

[['yjgy', 'tyfvjyh'],
 'erer',
 'wer',
 'dff',
 12,
 23,
 34,
 54,
 'sefe',
 ['erfre', 'werwe'],
 ['yjgy', 'tyfvjyh'],
 'erer',
 'wer',
 'dff',
 12,
 23,
 34,
 54,
 'sefe',
 ['erfre', 'werwe']]

## append

In [32]:
lst2.append('sefe')
lst2

In [38]:
lst2.append(['erfre','werwe'])
lst2

['erer', 'wer', 'dff', 12, 23, 34, 54, 'sefe', ['erfre', 'werwe']]

## insert

In [34]:
lst2.insert(2,'dff')
lst2

['erer', 'wer', 'dff', 12, 23, 34, 54, 'sefe']

In [40]:
lst2.insert(0,['yjgy','tyfvjyh'])
lst2

[['yjgy', 'tyfvjyh'],
 'erer',
 'wer',
 'dff',
 12,
 23,
 34,
 54,
 'sefe',
 ['erfre', 'werwe']]

In [35]:
# indexing in list 
lst2[3]

12

In [36]:
lst2[1:3]

['wer', 'dff']

# extend

In [2]:
lst=[1,2,3,4]
lst

[1, 2, 3, 4]

In [3]:
lst.extend([2,3,4,])
lst

[1, 2, 3, 4, 2, 3, 4]

In [44]:
sum(lst)

28

In [45]:
len(lst)

10

In [48]:
lst.pop()  # by default pops last element

4

In [47]:
lst.count(1)

1

In [49]:
lst.pop(0)  #or you can just give the index

1

In [50]:
lst

[2, 3, 4, 2, 3, 4, 2, 3]

In [52]:
lst.index(4)

2

In [55]:
lst.index(2,1,5)

3

In [53]:
min(lst)

2

In [54]:
max(lst)

4

# sets

In [20]:
set_var=set()
set_var={1,2,4,5,6,3,4,6,4,5,'sef'}
print(set_var)
type(set_var)

{1, 2, 3, 4, 5, 6, 'sef'}

set

In [14]:
set_var={'ironman','avemnger','batman'}
set_var

{'avemnger', 'batman', 'ironman'}

In [19]:
set_var.add('hulk')
set_var

{1, 2, 3, 4, 5, 6, 'hulk', 'sef'}

In [29]:
set1={'ironman','avemnger','batman'}
set2={'ironman','avemnger','batman','hulk'}
set2.difference(set1)
# set1

{'avemnger', 'batman', 'ironman'}

In [33]:
set2.difference_update(set1)
set1
set2

{'hulk'}

In [31]:
set1

{'avemnger', 'batman', 'ironman'}

In [35]:
set1={'ironman','avemnger','batman'}
set2={'ironman','avemnger','batman','hulk'}
set2.intersection(set1)

{'avemnger', 'batman', 'ironman'}

In [36]:
set2.intersection_update(set1)
set2

{'avemnger', 'batman', 'ironman'}

In [42]:
sert={5}
print(type(sert))
dict={}
print(type(dict))

<class 'set'>

dict

# dictionary
## like maps in c++

In [3]:
dictt={}
dictt

{}

In [4]:
dictt={'car1':'audi','car2':"mercedes",'car3':'porsch'}
dictt

{'car1': 'audi', 'car2': 'mercedes', 'car3': 'porsch'}

In [5]:
dictt['car3']

'porsch'

In [7]:
for x in dictt:
    print(x)

car1
car2
car3

In [8]:
for x in dictt.values():
    print(x)

audi
mercedes
porsch

In [9]:
for x in dictt.items():
    print(x)

('car1', 'audi')
('car2', 'mercedes')
('car3', 'porsch')

In [10]:
# updating existing value 
dictt['car1']='maruti'
dictt

{'car1': 'maruti', 'car2': 'mercedes', 'car3': 'porsch'}

## nested dictionary

In [12]:
model1={'audi':1990}
model2={'mercedes':1875}
model3={'benz':1545}
car={'car1':model1,'car2':model2,'car3':model3}
car

{'car1': {'audi': 1990}, 'car2': {'mercedes': 1875}, 'car3': {'benz': 1545}}

In [14]:
car['car1']

{'audi': 1990}

In [15]:
car['car1']['audi']

1990

# tuples

In [17]:
my_tuple=tuple()
type(my_tuple)

tuple

In [19]:
mytuple=('seff','sff','qwewef')
mytuple

('seff', 'sff', 'qwewef')

In [20]:
mytuple[0]

'seff'

In [21]:
for x in mytuple:
    print(x)

seff
sff
qwewef

In [23]:
#you  can not update a perticular value from tuple 

mytuple[0]='err'

TypeError: 'tuple' object does not support item assignment

In [25]:
#  you can only change the whole tuple
mytuple=('dfgsdg','dff','fsd',88,88,88,88)
mytuple

('dfgsdg', 'dff', 'fsd', 88, 88, 88, 88)

In [26]:
# inbuilt functions
mytuple.count(88)

4

In [27]:
mytuple.index('fsd')

2